*{
    padding:0px;
    margin: 0px;

}
body{
    background-color: rgb(213, 212, 212);
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
}
#navbar{
    height: 13vh;
    width: 99vw;
    position: fixed;
    background-color: #fff;
    z-index: 101;

}

#right{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 13vh;
    font-family: "Roboto Condensed", serif;
    font-weight: 206px;
    font-style: normal;
    z-index: 110;
  
   

}
.nav-bt{
    font-size: 1.1rem;
    color: black;
    margin: 10px;
    text-decoration: none;
}
#logo{
    padding-right: 500px;
    justify-items: left;
    
    
}
.cli-1{
    padding-top: 90px;
    font-family: "Roboto Condensed", serif;
    font-weight: 206px;
    font-style: normal;
    
}
.cli-2{
    padding-top: 50px;
    font-family: "Roboto Condensed", serif;
    
    
}
.img-1{
    border: 1.5px solid black;
    display: flex;

}
.img-1 img{
    border: 1.5px solid black;
}

.con{
    padding-left: 50px;
    font-family: "Roboto Condensed", serif;
    font-weight: 206px;
    font-style: normal;
}
.con h4{
    padding-top: 15px;
    font-family: "Roboto Condensed", serif;
    font-weight: 206px;
    font-style: normal;
}
.con h2{
    padding-top: 10px;
    font-family: "Roboto Condensed", serif;
    font-weight: 206px;
    font-style: normal;
}


#titleslogen{
    color: black;
    height: 10vh;
    text-align: center;
    font-size:1.1rem ;
    
    position: relative;
    top: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#titleslogen-p{
    color: black;
    font-size: 2.5rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}



.card-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:16vh ;
    display: grid;
    grid-template-columns: repeat(3, 350px);
     /* 3 cards per row */
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.card {
    height: 350px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: #333;
    transition: transform 0.3s ease;
    overflow: scroll;
}

.card:hover {
    transform: translateY(-10px);
}
.main-images{
    width: 320px;
    height:190px ;

}
.footer{
    background-color: black;
    height: 40vh;
    width: 100vw;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    position: absolute;
    
}
#ft-left{
    
    width: 25vw;
    margin-left: 100px;
    height: 30vh;
    color:white;
    text-align: center;
    font-size: 1.8rem;
}
#ftl-p{
    margin-top: 20px;
    font-size: 1.3rem;
}
#ft-center{
    
    margin-left: 53px;
    width: 25vw;
    height: 30vh;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
}
#ft-center a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin:8px;
}
#ft-right{
    display: flex;
    align-self: right;
    width: 25vw;
    height: 30vh;
    margin-left: 75px;


}
#ft-right a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin:8px;

}
#end{

    width:100vw;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#end p{
    color:white;
    text-align: center;

}


@media (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2 cards per row on smaller screens */
    }
}
  
@media (max-width: 480px) {
    .card-container {
      grid-template-columns: 1fr; /* 1 card per row on very small screens */
    }
}







